[submodule "bundle/nerdtree"]
	path = bundle/nerdtree
	url = git://github.com/scrooloose/nerdtree.git
[submodule "bundle/tabular"]
	path = bundle/tabular
	url = https://github.com/godlygeek/tabular.git
[submodule "bundle/nerdcommenter"]
	path = bundle/nerdcommenter
	url = https://github.com/scrooloose/nerdcommenter.git
[submodule "bundle/supertab"]
	path = bundle/supertab
	url = git://github.com/ervandew/supertab.git
[submodule "bundle/selectbuf"]
	path = bundle/selectbuf
	url = git://github.com/vim-scripts/SelectBuf.git
[submodule "bundle/genutils"]
	path = bundle/genutils
	url = git://github.com/vim-scripts/genutils.git
[submodule "bundle/multiselect"]
	path = bundle/multiselect
	url = git://github.com/vim-scripts/multiselect.git
